<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/destni_post/comment/repaly" method="post">
        <input type="text" placeholder="repaly" name="comment">
        <br>   <br>
        <br>
        <br>
        <input type="text" name="userId"  placeholder="userid">
        <br>
        <br>
        <br>
        <br>
        <input type="text" name="postId" placeholder="postId">
        <br>
        <br>
        <br>   <br>
        <br>
        <br>
        <input type="text" name="parentCommentId" placeholder="paranedid">
        <br>
        <button type="submit">send</button>

    </form>
</body>
</html>