<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/destni_post/report/reportdata" method="post">
    <input type="text" placeholder="Report"  name="reason">
    <br><br><br>
    <input type="text" name="postId" id="" placeholder="postid">
    <br><br><br><br>
    <input type="text" name="userId" placeholder="userId">
    <br><br><br><br>
    <button type="submit"> report now </button>
    </form>
</body>
</html>