<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/destni_post/savepost/savepostdata" method="post">
        <h1>savepost</h1>
        <input type="text" placeholder="userId" name="userId">
      <br>
      <br>
      <input type="text" placeholder="postId" name="postId">
      <br><br>
      <button type="submit"> savepost</button>
    </form>
</body>
</html>