<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/destni_post/comment/check" method="post"> 
        <input type="text" placeholder="comment" name="comment" id="">
        <br>
        <input type="text" placeholder="userId" name="userId" id="">
        <br>
        <input type="text" placeholder="postId" name="postId"  >
        <br>
        
        <button type="submit"> send</button>
    </form>
</body>
</html>